In [1]:
import pandas as pd

### Região metropolitana do PR

In [2]:
df = pd.read_csv('dados/proj_pop_PR.csv')
del df['Unnamed: 0'] 
df

,Ano,ARmaior,Sexo,Armenor,NomeMunic,0 a 5,5 a 10,10 a 15,15 a 20,20 a 25,...,50 a 55,55 a 60,60 a 65,65 a 70,70 a 75,75 a 80,80 a 85,85 a 90,90+,Total
0,2019,PARANÁ,f,4100103,Abatiá - PR,207.8949,204.7075,209.9739,228.2402,269.8958,...,277.0284,260.5485,224.8991,180.27220,144.82530,107.86820,74.60488,37.60335,17.969850,3728.219980
1,2019,PARANÁ,m,4100103,Abatiá - PR,222.7079,227.0446,249.1953,262.4844,285.0125,...,295.4330,265.3407,217.5199,156.54750,125.62450,87.05320,55.76286,27.24143,15.659820,3794.181610
2,2019,PARANÁ,f,4100202,Adrianópolis - PR,215.8808,209.7207,223.3782,224.7629,208.5627,...,191.6015,185.5389,153.6307,131.21040,102.20510,81.14557,53.84752,29.90366,18.445850,2951.866000
3,2019,PARANÁ,m,4100202,Adrianópolis - PR,227.3204,220.9239,240.0066,272.3965,240.8053,...,188.0945,180.4823,169.9969,145.41190,97.80305,79.61992,54.48377,26.92943,15.761650,3093.759620
4,2019,PARANÁ,f,4100301,Agudos do Sul - PR,334.0351,311.0948,314.4894,328.8146,386.6311,...,289.2556,263.6085,220.8674,163.41080,136.24520,86.26199,54.70536,21.13196,16.133380,4402.964690
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3187,2022,PARANÁ,m,4128658,Virmond - PR,145.3318,145.7141,141.3294,148.0027,137.8721,...,135.6156,141.1868,114.7714,94.95324,74.37111,42.60333,27.42232,14.61218,5.584132,2016.948212
3188,2022,PARANÁ,f,4128708,Vitorino - PR,211.5641,206.7112,211.0105,201.5834,221.9701,...,227.9738,233.2429,200.0294,149.02170,130.53850,102.74660,63.96387,35.90115,20.549420,3406.680940
3189,2022,PARANÁ,m,4128708,Vitorino - PR,232.3042,237.5704,226.5070,238.7528,256.3976,...,226.7782,220.8116,178.2093,143.95040,111.78480,67.83471,42.84290,24.30906,14.802910,3382.372180
3190,2022,PARANÁ,f,4128807,Xambrê - PR,143.4540,144.1136,156.8138,178.8449,173.1313,...,208.2573,212.7884,178.4558,163.58980,140.72840,104.24170,63.59252,37.49657,25.456880,2841.043070
3191,2022,PARANÁ,m,4128807,Xambrê - PR,153.6463,157.5877,150.0969,171.1183,181.2023,...,195.3157,202.3717,167.3710,130.24520,109.86150,94.97660,66.52442,36.66466,20.941930,2776.301510

In [3]:
cidades = [4100202, # Adrianópolis
           4100301, # Agudos do Sul
           4100400, # Almirante Tamandaré 
           4101804, # Araucária 
           4102307, # Balsa Nova 
           4103107, # Bocaiúva do Sul 
           4104006, # Campina Grande do Sul
           4104105, # Campo do Tenente 
           4104204, # Campo Largo 
           4104253, # Campo Magro
           4105201, # Cerro Azul 
           4105805, # Colombo
           4106209, # Contenda
           4106902, # Curitiba
           4128633, # Doutor Ulysses 
           4107652, # Fazenda Rio Grande
           4111258, # Itaperuçu
           4113205, # Lapa
           4114302, # Mandirituba 
           4119103, # Piên
           4119152, # Pinhais
           4119509, # Piraquara  
           4120804, # Quatro Barras
           4121208, # Quitandinha 
           4122206, # Rio Branco do Sul
           4122305, # Rio Negro 
           4125506, # São José dos Pinhais 
           4127601, # Tijucas do Sul 
           4127882]  # Tunas do Sul

In [4]:
df.columns

Index(['Ano', 'ARmaior', 'Sexo', 'Armenor', 'NomeMunic', '0 a 5', '5 a 10',
       '10 a 15', '15 a 20', '20 a 25', '25 a 30', '30 a 35', '35 a 40',
       '40 a 45', '45 a 50', '50 a 55', '55 a 60', '60 a 65', '65 a 70',
       '70 a 75', '75 a 80', '80 a 85', '85 a 90', '90+', 'Total'],
      dtype='object')

In [5]:
df = df[df.Armenor.isin(cidades)]

In [6]:
df_pop = pd.DataFrame()
df_aux = pd.DataFrame()
for i in [2019, 2020, 2021, 2022]:
    df_aux['local'] = ['02RS METROPOLITANA'] 
    
    df_aux['ano'] = i

    df_aux['[0,20)'] = [df.loc[df.Ano == i]['0 a 5'].sum() + df.loc[df.Ano == i]['5 a 10'].sum() + df.loc[df.Ano == i]['10 a 15'].sum() + df.loc[df.Ano == i]['15 a 20'].sum()]

    df_aux['[20,60)'] = [df.loc[df.Ano == i]['20 a 25'].sum() + df.loc[df.Ano == i]['25 a 30'].sum() + df.loc[df.Ano == i]['30 a 35'].sum() + df.loc[df.Ano == i]['35 a 40'].sum() + df.loc[df.Ano == i]['40 a 45'].sum() + df.loc[df.Ano == i]['45 a 50'].sum() + df.loc[df.Ano == i]['50 a 55'].sum() +  df.loc[df.Ano == i]['55 a 60'].sum()]

    df_aux['[60,80)'] = [df.loc[df.Ano == i]['60 a 65'].sum() + df.loc[df.Ano == i]['65 a 70'].sum() + df.loc[df.Ano == i]['70 a 75'].sum() + df.loc[df.Ano == i]['75 a 80'].sum()]

    df_aux['80+'] =  [df.loc[df.Ano == i]['80 a 85'].sum() + df.loc[df.Ano == i]['85 a 90'].sum() + df.loc[df.Ano == i]['90+'].sum()] 
    
    df_pop = pd.concat([df_pop, df_aux])
df_pop

,local,ano,"[0,20)","[20,60)","[60,80)",80+
0,02RS METROPOLITANA,2019,1.015429e+06,2.157186e+06,424855.85218,63858.352732
0,02RS METROPOLITANA,2020,1.014662e+06,2.175205e+06,444204.55387,67002.980058
0,02RS METROPOLITANA,2021,1.013938e+06,2.193536e+06,463148.60850,70561.541043
0,02RS METROPOLITANA,2022,1.015550e+06,2.207694e+06,482682.84391,74258.546489

In [7]:
df_pop.to_csv('dados/pop_reg_metr_cwb.csv')

### Dados SIVEP

In [5]:
# ibge code sem o último dígito (é salvo desta forma no sivep)
cidades_2 =[410020, # Adrianópolis
           410030, # Agudos do Sul
           410040, # Almirante Tamandaré 
           410180, # Araucária 
           410230, # Balsa Nova 
           410310, # Bocaiúva do Sul 
           410400, # Campina Grande do Sul
           410410, # Campo do Tenente 
           410420, # Campo Largo 
           410425, # Campo Magro
           410520, # Cerro Azul 
           410580, # Colombo
           410620, # Contenda
           410690, # Curitiba
           412863, # Doutor Ulysses 
           410765, # Fazenda Rio Grande
           411125, # Itaperuçu
           411320, # Lapa
           411430, # Mandirituba 
           411910, # Piên
           411915, # Pinhais
           411950, # Piraquara  
           412080, # Quatro Barras
           412120, # Quitandinha 
           412220, # Rio Branco do Sul
           412230, # Rio Negro 
           412550, # São José dos Pinhais 
           412760, # Tijucas do Sul 
           412788]  # Tunas do Sul]

In [6]:
df = pd.read_csv('dados/INFLUD_PR.csv', low_memory = False)
del df['Unnamed: 0']

df_cwb = df.loc[df.CO_MUN_NOT.isin(cidades_2)]

df_cwb

,DT_NOTIFIC,SEM_NOT,DT_SIN_PRI,SEM_PRI,SG_UF_NOT,ID_REGIONA,CO_REGIONA,ID_MUNICIP,CO_MUN_NOT,ID_UNIDADE,...,IF_PARA1,IF_PARA2,IF_PARA3,IF_ADENO,IF_OUTRO,DS_IF_OUT,LAB_IF,CO_LAB_IF,LAB_PCR,CO_LAB_PCR
1,07/01/2022,1,05/01/2022,1.0,PR,02RS METROPOLITANA,1356.0,CURITIBA,410690.0,COMPLEXO HOSPITALAR DO TRABALHADOR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,10/01/2022,2,06/01/2022,1.0,PR,02RS METROPOLITANA,1356.0,CURITIBA,410690.0,HOSPITAL SANTA CRUZ,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,10/01/2022,2,05/01/2022,1.0,PR,02RS METROPOLITANA,1356.0,CURITIBA,410690.0,HOSPITAL SAO VICENTE CIC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,12/01/2022,2,09/01/2022,2.0,PR,02RS METROPOLITANA,1356.0,CURITIBA,410690.0,HOSPITAL INFANTIL PEQUENO PRINCIPE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,17/01/2022,3,10/01/2022,2.0,PR,02RS METROPOLITANA,1356.0,CURITIBA,410690.0,HOSPITAL INFANTIL PEQUENO PRINCIPE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
262462,10/01/2020,2,15/12/2019,51.0,PR,02RS METROPOLITANA,1356.0,CURITIBA,410690.0,HOSPITAL INFANTIL PEQUENO PRINCIPE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LABORATORIO CENTRAL DO ESTADO,2795965.0
262463,10/01/2020,2,25/12/2019,52.0,PR,02RS METROPOLITANA,1356.0,CURITIBA,410690.0,HOSPITAL INFANTIL PEQUENO PRINCIPE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262468,12/12/2019,50,09/12/2019,50.0,PR,02RS METROPOLITANA,1356.0,SAO JOSE DOS PINHAIS,412550.0,HOSPITAL E MATERNIDADE MUNICIPAL DE SAO JOSE D...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LACEN LABORATORIO CENTRAL DE SAUDE PUBLICA LACEN,2409232.0
262469,25/11/2019,48,19/11/2019,47.0,PR,02RS METROPOLITANA,1356.0,CURITIBA,410690.0,COMPLEXO HOSPITAL DE CLINICAS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
262472,17/03/2020,12,12/04/2019,15.0,PR,02RS METROPOLITANA,1356.0,CURITIBA,410690.0,HOSPITAL INFANTIL PEQUENO PRINCIPE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,LABORATORIO CENTRAL DO ESTADO,2795965.0

In [7]:
df_cwb.to_csv('dados/INFLUD_cwb.csv')